.fab-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .fab-main, .fab-main-open {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(to right, rgb(56, 34, 230), rgb(158, 69, 225));

    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.fab-main{
  transition: transform ease-in-out 0.3s; /* Transition property added here */
}

.fab-main:hover, .fab-main-open {
    transform: rotateZ(-45deg) scale(1.1);
}

  .fab-secondary-container {
    position: absolute;
    bottom: 80px;
    right: 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  .fab-secondary-container.open {
    opacity: 1;
    pointer-events: auto;
  }
  
  .fab-secondary {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000; /* Changed background color to black */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Added box shadow */
    margin-bottom: 10px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
}

  
  .fab-secondary img {
    width: 30px; 
    height: 30px; 
  }
  
  .fab-secondary:hover {
    background-color: #333; 
    
  }


  @media (max-width:730px) {
    .fab-container {
      position: fixed;
      bottom: 20px;
      right: 20px;
    }
    
    .fab-main, .fab-main-open {
      width: 45px;
      height: 45px;   
      
      
  }

  .fab-main img, .fab-main-open img{
    width: 20px; height: 20px;
  }

    .fab-secondary-container {

      bottom: 50px;
      right: 10px;

    }


    

    .fab-secondary {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-bottom: 10px;
    
  }
  
    
    .fab-secondary img {
      width: 20px; 
      height: 20px; 
    }
    
    .fab-secondary:hover {
      background-color: #333; 
      
    }
  }
  