.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-inline: auto;
  padding-top: 50px;
  padding-inline: 50px;
}

.about-heading {
  font-size: 20px;
}

.heading-underline {
  height: 2px;
  width: 50px;
  background-color: red;
  border-radius: 15px;
  margin-block-end: 20px;
  margin-block-start: 10px;
}

.skill-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 15px;
}

.skill-card {
  border-radius: 8px;
  margin-bottom: 20px;
  width: calc(33.33% - 20px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}

.skill-card .skill-type-heading {
  padding: 20px;
  font-size: 20px;
  font-weight: 600;

}

.skill-category {
  padding: 15px;
}

.skill-type-heading-underline{
  margin-left: 20px;
  margin-block: 0;
  width: 20px;
}

#blue-underline{
  background-color: blueviolet;
}
.skill-item {
  margin-bottom: 10px;
}

.skill-item:last-child {
  margin-bottom: 0;
}

.skill-name {
 margin-bottom: 2px;
 font-size: 13px;
}

.empty-10{
  height: 10px;
}


.progress-bar {
  height: 7px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  border-radius: 5px;
}

/* Colors based on category */
.coding .progress {
  background-color: blue; /* Blue */
}

.development .progress {
  background-color: green; /* Green */
}

.machine-learning .progress {
  background-color: red; /* Red */
}
