
.NavBar {
  position: fixed;
  top:0; right: 0; left: 0;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
padding-block: 20px;
margin-inline: auto;
backdrop-filter: blur(10px);


z-index: 1000;
 

}
  .logo {
    font-size: 30px;
    text-decoration: none;
  
  }
  .logo-underline{
    margin-bottom: 0;
    width: 60px;
    height: 2px;
    background-color: brown;
    margin-top: 10px;
  }
  .menus {
    display: flex;
    height: inherit;
    align-items: center;
    
    
  }
  

  .menu, .menu-active {
    margin-right: 1rem;
    text-decoration: none;
    font-size: 13px; 
    border: 2px solid rgba(255, 255, 255, 0);
    
    padding: 10px;
  }


  .menu:hover, .menu-active{
    color: rgb(191, 95, 95);
    border-bottom: 2px solid rgb(191, 95, 95);

  }
  
  .contact-btn {
    padding: 0.5rem 1rem;
    background-color: transparent;
   
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid rgb(13, 12, 12);
    font-size: 15px;
  }

  .contact-btn:hover{
    background-color: rgba(255, 255, 255, 0.166);
    
  }
  