.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
box-shadow: rgba(105, 57, 235, 0.586) 0px 8px 24px;
  width: 80%;
  margin-inline: auto;
  margin-block: 30px;
  padding-top: 50px;
  border-radius: 20px; 
  border: 2px solid blue
}

.heading-underline {
  height: 2px;
  width: 50px;
  background-color: red;
  border-radius: 15px;
  margin-block-end: 20px;
  margin-block-start: 10px;
}

.about-heading {
  font-size: 20px;
}

.education-body {
  display: flex;
  
  justify-content: space-between;
  align-items: flex-start;
  width: inherit;
  padding: 30px;
 
}

.education-detail {
  display: flex;
  flex-direction: column;
  margin-left:50px
}

.education-detail-heading{
  font-size: 20px;
}
.education-detail-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-block: 20px;
}


.card {
  
  border-radius: 20px;
  margin-bottom: 10px;
  width: calc(50% - 10px); 
  box-sizing: border-box; 
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid rgba(245, 222, 179, 0.521);
}

.card-header {

  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
  

}

.fieldno {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: rgb(249, 249, 251);
  background-color: blue;
  border-radius: 50%;
  margin-right: 10px;
}

.fieldname{
  display: flex;
  flex-direction: column;

  height: fit-content;
}
.fieldnameText {
  font-weight: 400;
  font-size: 15px;
}

.fieldname-underline{
  margin-bottom: 0;
  background-color: rgb(16, 185, 120);
  height: 1.5px;
  width: 15px;
  margin-top: 5px;
}
.card-body {
  padding: 20px;
  font-size: 12px;
}

@media (max-width:730px) {
  .education {
    width: 90%;
    margin-inline: auto;
    padding-top: 30px;
  }

  .about-heading{
    font-size: 15px;
  }


.education-detail-heading{
  font-size: 15px;
}
    .education-body {

      flex-direction: column;
      align-items: center;
      justify-content: center;
     
      flex-wrap: wrap;
    
    }

    .education-detail {
      justify-content: center;
      align-items: center;
      margin-left: 0;
     /* background-color: aqua;*/

    }

    .education-detail-body{
      justify-content: space-between;
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .card{
      width: 70vw;
    }

    .card-header{
  padding: 7px;
    }
    .fieldnameText{
      font-size: 13px;
    }
    .fieldno{
      height: 25px;
      width: 25px;
      font-size: 13px;
      margin-right: 5px;
    }
    .card-body{
      font-size: 11px;
      text-align: justify;
      padding: 10px;
      padding-top: 3px;
    }
  }
  

  
