
:root{
  --head_font: 25px;
  --title_font: 16px;
  --trailing-font: 15px;
  --proj-desc-font: 15px;
  --tech_names_font: 14px;
  --proj-card-head-font: 15px;
  --proj-card-content-font: 12px
}

.projects {
  margin-block: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.projects-heading {
  
  font-size: var(--head_font);
  color: #f0eaea;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 400;

}

.heading-underline {
  height: 2px;
  width: 50px;
  background-color: red;
  border-radius: 15px;
}
.heading-underline:nth-child(2){
  margin-top: 10px;
}
.project {
  border-radius: 20px;
  padding: 60px 60px ;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-inline: 100px;
  border: 1px solid rgba(245, 245, 245, 0.615);
}

.project-title {
  font-size: var(--title_font);
  color: #f1eded;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.trailing{
  width: max-content;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  border-right: 2px solid blue;
  gap: 20px;
  height: calc(var(--title_font) + 5px);
  align-items: center;
}

.trailing a{
  font-size: var(--trailing-font);
}

.trailing a:first-child{
  color: rgb(199, 165, 122);
}
.trailing a:last-child{
  color: rgb(5, 179, 5);
}

.project-description {
  font-size: var(--proj-desc-font);
  color: #b9b4b4;
  margin-bottom: 15px;
}

.project-technologies {
  font-size: var(--tech_names_font);
  color: #888;
  margin-bottom: 15px;
}
.project-technologies .heading-underline{
  width: 30px;
  background-color: rgb(115, 29, 172);
  margin-bottom: 5px;
}

.technology-imgs{
  color: #8d8686;
  display: flex;
  font-size: var(--tech_names_font);
  width:150px;
  gap: 10px;
  margin-block-end: 10px;
  padding:10px;
  border-left: 2px solid rgb(61, 36, 172);
  background: linear-gradient(to right, rgba(128, 73, 201, 0.115), transparent);
}


.project-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  width: 100%;
}

.project-card-heading{
  font-size: var(--proj-card-head-font);
  font-weight: 600;
  margin: 20px;
}

.project-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  border: 1px solid rgba(245, 245, 245, 0.23);
  background: linear-gradient(to bottom, rgba(163, 161, 161, 0.04), rgba(178, 175, 175, 0.162))
  
}


.project-card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.sub-card {
  font-size: var(--proj-card-content-font);
  margin-block: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 10px;
 color:#c3baba;
}


.sub-card p::first-letter{
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 50%;
}
.sub-card img{
  
  border-radius: 50%;
  height:60px;
  width: 60px;
  margin-right: 10px;
}

.gotoDetails{
  border: 1px solid rgba(147, 140, 140, 0.333);
  border-radius: 10px;
  padding: 10px;
  float: right;
  color: #888;
  font-size: medium;
  margin-top: 5px;
}
.gotoDetails:hover{
  background: linear-gradient(to bottom, rgba(163, 161, 161, 0.04), rgba(109, 107, 107, 0.119))
}


@media (max-width:730px){
  :root {
    --head_font: 16px; /* decreased by 5px */
    --title_font: 15px;
    --trailing-font: 10px;
    --proj-desc-font: 10px;
    --tech_names_font: 10px;
    --proj-card-head-font: 10px;
    --proj-card-content-font: 10px;
  }
  .project{
    margin-inline: 6vw;
    padding: 6vh 5vw ;
  }

  .projects {
    margin-block: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .projects-heading {
    font-size: var(--head_font);
  }
  
  .project-title {
    font-size: var(--title_font);
    
  }
  
  .trailing{
 
    display: flex;
    padding-inline: 10px;
    border-right: 2px solid blue;
  }

  .trailing img{
    height: 17px; width: 17px;

  }
  .project-description {
    font-size: var(--proj-desc-font);
    margin-bottom: 10px;
  }
  
  .project-technologies {
    font-size: var(--tech_names_font);
    margin-bottom: 10px;
  }
  .project-technologies .heading-underline{
    width: 30px;
    background-color: rgb(115, 29, 172);
    margin-bottom: 5px;
  }
  
  .technology-imgs{
    display: flex;
    width:37vw;
   
  }
  
  .project-details{
    grid-template-columns: repeat(1,1fr);
  }
 
  .project-card-heading{
    font-size: calc(var(--proj-card-head-font)-10px);
    font-weight: 600;
    margin: 20px;
  }
  
  .project-card {
   
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-inline: 0;
    padding: 10px;
    
  }
  
  
  .project-card-body{
    display: flex;
  
    justify-content: space-evenly;
    align-items: center;
  
  }
  .sub-card {
    font-size: var(--proj-card-content-font);
    width: 60vw;
   
    border-radius: 7px;
    padding: 5px;
  
  }
  .sub-card img{
    
    border-radius: 50%;
    height:45px;
    width: 45px;
    margin-right: 10px;
  }
  
  .gotoDetails{
    font-size: small;
  }
  
}